
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app-glb-ctnr{
  width: 100%;
  padding:60px 0px 40px 0px;
  background: #ffffff;
}
.app-glb-btn{
  background:#ee3b00;
  color: #ffffff;
  border-radius: 20px;
  min-width: 150px;
  transition: all .20s ease-in-out;
}
.mobile-btn:hover,
.app-glb-btn:hover{
  background: #d24314;
  color:#ffffff;
}
.app-clmn-grid{
  margin-bottom: 10px;
}
.app-pd-15{
  padding: 15px;
}
h1,h2{
  font-weight: 400 !important;
}